// esquema de colores
$mainColor:rgb(248, 35, 149);
$secondaryColor: rgb(64, 62, 62);
$keyColor:rgb(11, 11, 11);
$white:rgb(238, 233, 233);

// tipografias

$mainFont:'Roboto', sans-serif;

//sizes

$textSmall: 0.8em;
$textMdm: 1em;
$textXl:2em;
$textXxl:3em;

//fontweight

$fontLight:300;
$fontRegular:400;
$fontBold:600;

